@font-face {
    font-family:"Web-Raleway";
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype'),
         url('../fonts/Raleway-Regular.svg#web') format('svg');
    font-weight: normal;font-style: normal;
}

@font-face {
    font-family:"Web-Raleway-Bold";
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf') format('truetype'),
         url("../fonts/Raleway-Bold.svg#web") format('svg');
    font-weight: normal;font-style: normal;
}

html, body{
    height: 100%;
    min-height: 100%;
}


form{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #bf2afb;
}
a:hover{
    color: #730d9c;
}

.wrapper{
    background: url('../images/backgrounds/bg.png') repeat center 20px;
    width: 100%;
    height: 100%;
}

.login_box{
    font-family: 'Web-Raleway', sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 7%;
    width: 30%;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 5px;
    opacity: 0.98;
}

.login_header{
    font-family: 'Web-Raleway-Bold', sans-serif;
    width: 100%;
    height: 90px;
    background: #730d9c url('../images/backgrounds/bg.png') repeat center 20px;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.login_header h1{
    font-family: 'Web-Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 250%;
    padding-bottom: 10px;
}

input[type="submit"]{
    border-radius: 5px;
    border: solid 1px #730d9c;
    color: #fff;
    background: #730d9c;
    text-transform: uppercase;
    font-family: "Web-Raleway";
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
}

input[type=submit]:hover {
    border: solid 1px #730d9c;
    background: #fff;
    color: #6e0093;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input[type="text"], input[type="email"], input[type="password"]{
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 55%;
    height: 35px;
    margin-bottom: 5px;
    padding-left: 5px;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover{
    border-color: #730d9c;
}

#second { 
    display: none;
}

/* Responsive */
@media (max-width: 1024px){
    .wrapper{
        width: auto;
    }
    .login_box{
        width: 60%;
    }
}
@media (max-width: 768px){
    .login_box{
        width: 65%;
    }
}
@media (max-width: 480px){
    .login_box{
        width: auto;
    }
}