@font-face {
    font-family:"Web-Raleway";
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('truetype'),
         url('../fonts/Raleway-Regular.svg#web') format('svg');
    font-weight: normal;font-style: normal;
}

@font-face {
    font-family:"Web-Raleway-Bold";
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf') format('truetype'),
         url("../fonts/Raleway-Bold.svg#web") format('svg');
    font-weight: normal;font-style: normal;
}

body{
    line-height: 17px;
}

.top_bar{
    width: 100%;
    height: 45px;
    background: #730d9c url('../images/backgrounds/bg.png') repeat center 20px;
    border-bottom: 5px solid #ae58ff;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}
.logo{
    float: left;
    padding-top: 9px;
}
.logo a img{
    width: 145px;
    height: auto;
    margin-top: -20px;
}
.logo a{
    font-family: 'Web-Raleway-Bold', sans-serif;
    margin-left: 10px;
    font-size: 30;
    position: relative;
    top: 12px;
    color: white;

}

a:hover{
    text-decoration: none;
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    font-family: 'Web-Raleway-Bold', sans-serif;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 5px; 
}

nav a:hover{
    border-bottom: 3px solid white;
    color: white;
}

.wrapper{
    margin: 0 auto;
    top: 60px;
    position: relative;
    padding: 0 10px;
    width: 70%;
    min-width: 950px;
}

.column{
    background-color: white;
    padding: 10px;
    border: 1px solid #d3ded3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3ded3;
    z-index: -1;
}

.user_details{
    width: 275px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_rigth{
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details_left_rigth a{
    font-family: 'Web-Raleway-Bold', sans-serif;
    color: #9523ff;    
}

.user_details img{
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column{
    float: right;
    width: 68%;
    z-index: -1;
    min-height: 60px;
}

.post_form{
    width: 100%;
}

.post_form textarea{
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #d3ded3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus{
    outline: 0;
}

.post_form input[type="submit"]{
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 7px;
    background-color: #9523ff;
    color: white;
    font-family: 'Web-Raleway-Bold', sans-serif;
    box-shadow: 2px 2px 1px #d3ded3;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;

}

.post_form input[type="submit"]:active{
    padding: 5px 4px 4px 5px;
    background-color: white;
    color: #9523ff;
}

.status_post{
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic{
    float: left;
    margin-right: 7px;
}

.post_profile_pic img{
    border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;	
	width: 100%;
	margin-top: 5px;
    background-color: rgb(238, 200, 255);
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
	border:none;
	background-color: #9523ff;
	color: white;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #9523ff;
	border:none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}